# Working With missing Data

In [1]:
import pandas as pd
car_price = pd.read_csv('car_price.csv')

In [2]:
car_price.head(5)

,CarName,carbody,drivewheel,enginelocation,fueltype,aspiration,doornumber,cylindernumber,enginetype,fuelsystem,...,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,convertible,rwd,front,gas,std,two,four,dohc,mpfi,...,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero stelvio,convertible,rwd,front,gas,std,two,four,dohc,mpfi,...,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,hatchback,rwd,front,gas,std,two,six,ohcv,mpfi,...,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi 100 ls,sedan,fwd,front,gas,std,four,four,ohc,mpfi,...,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi 100ls,sedan,4wd,front,gas,std,four,five,ohc,mpfi,...,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
car_price.isna().sum()

CarName             0
carbody             0
drivewheel          0
enginelocation      0
fueltype            0
aspiration          0
doornumber          0
cylindernumber      0
enginetype          0
fuelsystem          0
symboling           0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginesize          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

## Bum!!! No missing data, what sort of data is data

## Think i need a missing data to prove my point

In [4]:
car_price.columns

Index(['CarName', 'carbody', 'drivewheel', 'enginelocation', 'fueltype',
       'aspiration', 'doornumber', 'cylindernumber', 'enginetype',
       'fuelsystem', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [5]:
car_price['CarName'].nunique()

147

In [6]:
car_price.describe()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,0.828571,98.947143,174.354286,65.935714,53.768571,2565.909524,127.266667,3.333905,3.258286,10.224381,104.000000,5110.476190,25.180952,30.695238,13289.665081
std,1.244757,6.172319,12.457557,2.141794,2.489242,522.279331,41.297095,0.270150,0.311277,4.068746,39.114725,484.530811,6.487059,6.835908,7918.471818
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.800000,64.125000,52.000000,2174.250000,98.000000,3.150000,3.110000,8.525000,70.000000,4800.000000,19.000000,25.000000,7823.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2422.500000,120.000000,3.320000,3.290000,9.000000,95.000000,5100.000000,24.000000,30.000000,10470.000000
75%,2.000000,102.400000,183.500000,66.900000,55.575000,2953.500000,145.750000,3.587500,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16502.250000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
car_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CarName           210 non-null    object
 1   carbody           210 non-null    object
 2   drivewheel        210 non-null    object
 3   enginelocation    210 non-null    object
 4   fueltype          210 non-null    object
 5   aspiration        210 non-null    object
 6   doornumber        210 non-null    object
 7   cylindernumber    210 non-null    object
 8   enginetype        210 non-null    object
 9   fuelsystem        210 non-null    object
 10  symboling         210 non-null    int64
 11  wheelbase         210 non-null    float64
 12  carlength         210 non-null    float64
 13  carwidth          210 non-null    float64
 14  carheight         210 non-null    float64
 15  curbweight        210 non-null    int64
 16  enginesize        210 non-null    int64
 17  boreratio         210 non-null    float64
 18  stroke            210 non-null    float64
 19  compressionratio  210 non-null    float64
 20  horsepower        210 non-null    int64
 21  peakrpm           210 non-null    int64
 22  citympg           210 non-null    int64
 23  highwaympg        210 non-null    int64
 24  price             210 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 41.1+ KB

In [8]:
car_price.tail(20)

,CarName,carbody,drivewheel,enginelocation,fueltype,aspiration,doornumber,cylindernumber,enginetype,fuelsystem,...,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
190,vw rabbit,hatchback,fwd,front,gas,std,two,four,ohc,mpfi,...,2221,109,3.19,3.40,8.5,90,5500,24,29,9980.0
191,volkswagen rabbit,sedan,fwd,front,gas,std,four,five,ohc,mpfi,...,2661,136,3.19,3.40,8.5,110,5500,19,24,13295.0
192,volkswagen rabbit custom,sedan,fwd,front,diesel,turbo,four,four,ohc,idi,...,2579,97,3.01,3.40,23.0,68,4500,33,38,13845.0
193,volkswagen dasher,wagon,fwd,front,gas,std,four,four,ohc,mpfi,...,2563,109,3.19,3.40,9.0,88,5500,25,31,12290.0
194,volvo 145e (sw),sedan,rwd,front,gas,std,four,four,ohc,mpfi,...,2912,141,3.78,3.15,9.5,114,5400,23,28,12940.0
195,volvo 144ea,wagon,rwd,front,gas,std,four,four,ohc,mpfi,...,3034,141,3.78,3.15,9.5,114,5400,23,28,13415.0
196,volvo 244dl,sedan,rwd,front,gas,std,four,four,ohc,mpfi,...,2935,141,3.78,3.15,9.5,114,5400,24,28,15985.0
197,volvo 245,wagon,rwd,front,gas,std,four,four,ohc,mpfi,...,3042,141,3.78,3.15,9.5,114,5400,24,28,16515.0
198,volvo 264gl,sedan,rwd,front,gas,turbo,four,four,ohc,mpfi,...,3045,130,3.62,3.15,7.5,162,5100,17,22,18420.0
199,volvo diesel,wagon,rwd,front,gas,turbo,four,four,ohc,mpfi,...,3157,130,3.62,3.15,7.5,162,5100,17,22,18950.0
200,volvo 145e (sw),sedan,rwd,front,gas,std,four,four,ohc,mpfi,...,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,volvo 144ea,sedan,rwd,front,gas,turbo,four,four,ohc,mpfi,...,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,volvo 244dl,sedan,rwd,front,gas,std,four,six,ohcv,mpfi,...,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,volvo 246,sedan,rwd,front,diesel,turbo,four,six,ohc,idi,...,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,volvo 264gl,sedan,rwd,front,gas,turbo,four,four,ohc,mpfi,...,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0
205,bmw x3,sedan,rwd,front,gas,std,four,six,ohc,mpfi,...,2765,164,3.31,3.19,9.0,121,4250,21,28,21105.0
206,mitsubishi g4,hatchback,fwd,front,gas,std,two,four,ohc,2bbl,...,2328,122,3.35,3.46,8.5,88,5000,25,32,8499.0
207,peugeot 304,sedan,rwd,front,diesel,turbo,four,four,l,idi,...,3197,152,3.70,3.52,21.0,95,4150,28,33,13200.0
208,peugeot 504 (sw),wagon,rwd,front,gas,std,four,four,l,mpfi,...,3230,120,3.46,3.19,8.4,97,5000,19,24,12440.0
209,peugeot 504,wagon,rwd,front,diesel,turbo,four,four,l,idi,...,3430,152,3.70,3.52,21.0,95,4150,25,25,13860.0

In [9]:
car_price.count()

CarName             210
carbody             210
drivewheel          210
enginelocation      210
fueltype            210
aspiration          210
doornumber          210
cylindernumber      210
enginetype          210
fuelsystem          210
symboling           210
wheelbase           210
carlength           210
carwidth            210
carheight           210
curbweight          210
enginesize          210
boreratio           210
stroke              210
compressionratio    210
horsepower          210
peakrpm             210
citympg             210
highwaympg          210
price               210
dtype: int64

In [10]:
car_name_price = car_price[['CarName', 'price']]

In [11]:
car_name_price

                      CarName    price
0          alfa-romero giulia  13495.0
1         alfa-romero stelvio  16500.0
2    alfa-romero Quadrifoglio  16500.0
3                 audi 100 ls  13950.0
4                  audi 100ls  17450.0
..                        ...      ...
205                    bmw x3  21105.0
206             mitsubishi g4   8499.0
207               peugeot 304  13200.0
208          peugeot 504 (sw)  12440.0
209               peugeot 504  13860.0

[210 rows x 2 columns]

In [22]:
car_price['price'].mean()

13289.66508095238

In [13]:
car_price.columns

Index(['CarName', 'carbody', 'drivewheel', 'enginelocation', 'fueltype',
       'aspiration', 'doornumber', 'cylindernumber', 'enginetype',
       'fuelsystem', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [14]:
car_price['horsepower'].corr(car_price['price'])

0.8078104411143403

In [15]:
car_price['horsepower'].max()

288

In [16]:
car_price['CarName'].max()

'vw rabbit'

In [17]:
car_price['CarName'].value_counts()

peugeot 504         7
toyota corolla      6
toyota corona       6
subaru dl           4
mitsubishi g4       4
                   ..
mazda glc 4         1
mazda rx2 coupe     1
maxda glc deluxe    1
maxda rx3           1
volvo 246           1
Name: CarName, Length: 147, dtype: int64

In [21]:
car_price['carbody'].value_counts()

sedan          98
hatchback      71
wagon          27
hardtop         8
convertible     6
Name: carbody, dtype: int64